/* App.css */
.App {
  display: flex;
}

.sidebar {
  width: 250px; /* Adjust the width as per your need */
  background-color: #ffffff; /* Change the background color to white */
  height: 100vh; /* Full height of the viewport */
  position: fixed; /* Keep it fixed on the screen */
  box-shadow: 0 0 10px rgb(255, 255, 255); /* Optional: Add a subtle shadow for depth */
}

.main-content {
  margin-left: 250px; /* Same width as the sidebar */
  padding: 20px;
  width: calc(100% - 250px); /* Adjust the width to account for the sidebar */
}

/* Additional styles for other elements can be added here */
