/* body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .dashboard {
    display: flex;
  }
  
  .sidebar {
    width: 20%;
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  .sidebar h3 {
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
  }
  
  .sidebar li.active {
    background-color: #007bff;
    color: white;
  }
  
  .content {
    width: 80%;
    padding: 20px;
    margin-left: 170px;
  }
  
  .content h2 {
    margin-bottom: 20px;
    color: #140d0d;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1.8rem;
    margin-left: -10px;
  }
  
  .search-box {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    margin-top: 20px;
    
  }
  
  th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
  }
  
  th {
    background-color: #417ff2;
    color: #ffffff;
    
  }
  .doctor-table{
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;

  }
  .doctor-info {
    display: flex;
    align-items: center;
  }
  
  .doctor-image {
    border-radius: 50%;
    margin-right: 15px;
  }
  
  button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  } */