.form-container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 20px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}

.employee-form h2 {
    text-align: center;
    color: #1a73e8;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 16px;
    color: #333;
}

.form-group input,
.form-group select {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #c5d8e6;
    border-radius: 5px;
}

.form-group input[type="file"] {
    padding: 5px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
}

.add-btn {
    background-color: #1a73e8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reset-btn {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-btn:hover,
.reset-btn:hover {
    opacity: 0.9;
}
