
.form-container {
    width: 85%;
    margin: 30px auto;
    padding: 17px;
    background-color: #f9f9f9;
    border-radius: 20px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}

.employee-form h2 {
    text-align: center;
    color: #1a73e8;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    font-size: 16px;
    color: #333;
}

.form-group input,
.form-group select {
    width: 90%;
    padding: 3.4px;
    font-size: 16px;
    border: 1px solid #c5d8e6;
    border-radius: 5px;
}

.form-group input[type="file"] {
    padding: 5px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    
}

.form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);  /* Dark overlay with opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;  /* Ensure overlay is on top of everything */
  }
  
  
.add-btn {
    background-color: #1a73e8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reset-btn {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-btn:hover,
.reset-btn:hover {
    opacity: 0.9;
}
