Sidebar.css
.app-container {
    display: flex;
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed; 
    top: 0;
    left: 0;
    background-color: #ffffff;
    color: white;
    padding: 20px;
    box-shadow: 4px 0 15px rgba(19, 18, 18, 0.2); 

    
}

.sidebar ul li{
    text-decoration: none;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    color: #403c3c;
    cursor: pointer;
    margin-top: 20px;
}
.main-content {
    margin-left: 100px; 
    padding: 20px;
    width: calc(100% - 250px);
    height: 100vh;
    overflow-y: auto; /* Scroll the main content */
}


