/* Sidebar.css */
.app-container {
    display: flex;
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed; /* Keep it static (fixed) on the left */
    top: 0;
    left: 0;
    background-color: #ffffff;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.main-content {
    margin-left: 250px; /* To accommodate the sidebar */
    padding: 20px;
    width: calc(100% - 250px);
    height: 100vh;
    overflow-y: auto; /* Scroll the main content */
}
